html, body{
    font-family: 'Roboto', sans-serif;
    background-color: #cfcfcf;
    margin: 0;
    padding: 0;

    display: grid;

    min-width: 500px;
    min-height: 500px;
}


header{
    background-color: #000;
    height: 14vh;
    font-family: 'Roboto', sans-serif;

}

#logo{
    width:30vh;
    position:relative;
}


main{
    height: 76vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.calculadora{
    background-color: #000;
    padding: 2vh;
    border-radius: 2vh;
    font-family: 'Roboto', sans-serif;

}

.display{
    background-color: #ffffff;

    height: 6vh;
    width: 29.7vh;
    margin-bottom: 1vh;

    text-align: end;
    font-size: 4vh;
    font-family: 'Roboto', sans-serif;

    border-radius: 1vh;
    border: none;
    
}

.btn{
    background-color: #c9c9c9;
    width: 7vh;
    height: 7vh;
 
    border: none;

    font-size: 4vh;
    font-family: 'Roboto', sans-serif;
}

.btn:hover{
    background-color: #6e6e6e;

}

.btn2{
    background-color: #ffa600;
    border: none;
    
}



.btn2{
    width: 7vh;
    height: 7vh;
    
    border-radius: 1vh;

    font-size: 4vh;
    font-family: 'Roboto', sans-serif;
}

.btn2:hover{
    background-color: #ff0000;
    color: #ffffff;
}


footer{
    background-color: #000;
    height: 10vh;
}

